<% content_for :title, "Editing user" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing user</h1>

  <%= form_with(model: @user, class: "contents") do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul class="list-disc ml-6">
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-5">
      <%= form.label :nickname, title: "Use any name you like. No real personal data is required."%>
      <%= form.text_field :nickname, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:nickname].none?, "border-red-400 focus:outline-red-600": @user.errors[:nickname].any?}] %>
    </div>

    <div class="my-5">
      <%= form.label :email_address %>
      <%= form.text_field :email_address, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @user.errors[:email_address].none?, "border-red-400 focus:outline-red-600": @user.errors[:email_address].any?}] %>
    </div>

    <div class="inline">
      <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>

  <%= link_to "Show this user", user_path(@user), class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
